@use "sass:list";

$color-base-white: #fff !default;
$color-base-black: #000 !default;
$color-base-gray: #cccccc !default;
$color-base-red: #e64552 !default;
$color-base-orange: #f27c49 !default;
$color-base-green: #39bf45 !default;
$color-base-cyan: #41d9cc !default;
$color-base-blue: #4c84ff !default;
$color-base-purple: #834bf2 !default;